{% extends "base.html"%}
{% block title %}Acerca de{% endblock %}

{% block content %}
<h1>Nuestra Historia</h1>
<p>En el corazón de Joya de los Sachas nació Aroma del Día, 
una cafetería creada con amor por el café y por las personas 
que lo disfrutan. Lo que comenzó como un pequeño sueño entre 
amigos se convirtió en un espacio acogedor donde cada taza 
cuenta una historia. Aquí, combinamos ingredientes frescos, 
técnicas artesanales y un ambiente cálido para ofrecerte más 
que café: una experiencia que acompaña tus mejores momentos.</p>
<h2>Misión</h2>
<p>Ofrecer café de calidad en un ambiente acogedor</p>
<h2>Visión</h2>
<p>Ser el rincón favorito de los amantes del café en Joya de los Sachas.</p>
<h2>Valores</h2>
<p>Calidad, comunidad, sostenibilidad</p>


{% endblock %}