<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}{{ title or "Mi sitio Flask" }}{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  {% block extra_css %}{% endblock %}
</head>
<body>
  <header class="site-header">
    <nav class="nav">
      <a href="{{ url_for('index') }}">Inicio</a>
      <a href="{{ url_for('about') }}">Acerca de</a>
      <a href="{{ url_for('listar_productos') }}">Productos</a>
      <a href="{{ url_for('contacto') }}">Contacto</a>
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('registro') }}">Registro</a>

    </nav>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer class="site-footer">
    <small>© {{ 2025 }} Aroma del Día. Todos los derechos reservados</small>
  </footer>

  {% block extra_js %}{% endblock %}
</body>
</html>